@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{      ViewData["Tittle"] = "Index";
}
<div class="text-center">
    <p>welcome to new view..!</p>
    <h1>Can I have a piece of cake....$ </h1>
</div>